@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";
@import "leaflet/dist/leaflet.css";

.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevents both X and Y scrollbars */
  position: relative; /* helps if absolute children exist */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer components {
  .clip-pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  }
}

@layer utilities {
  @keyframes slideDown {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
